{
  "include": [
    "src/**/*js"
  ],
  "exclude": [
    "test/**/*.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "require": [
    "babel-register"
  ],
  "extension": [
    ".js"
  ]
}